.App {
  font-family: sans-serif;
  text-align: center;
  width: 100vw;
}

.card-table {
  height: 100vh;
  background-color: darkgreen;
}

.scoreboard {
  height: 3em;
  background-color: black;
  border: 4px solid darkred;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
}

.scoreboard .result {
  color: red;
  outline: 2px solid red;
  outline-offset: 1rem;
}

.scoreboard .bank,
.scoreboard .bet,
.scoreboard .won {
  color: white;
}

.hand {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
  padding-top: 15px;
  min-height: 15vw;
}

.card img {
  width: 15vw;
  cursor: pointer;
  /*transition: margin-top ease-in-out 300ms;*/
}

.card.selected {
  opacity: 0.5;
}

/*.card.selected::after {*/
/*  content: 'X';*/
/*  color: dimgrey;*/
/*  font-size: 15vw;*/
/*  display: flow-root;*/
/*  margin-top: -12vw;*/
/*}*/

.action-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
  margin-top: 20px;
  font-size: 1.5rem;
}

.action-row .bets {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.action-row .bets span {
  font-weight: 600;
  color: white;
}
